$color-primary: #212025;
$color-secondary: #ff5600;
$color-tertiary: #828fa3;
$color-quaternary: #091a23;
$color-light: #fff;
$color-dark: #000;

// color text
$color-text: #212025;
$color-desc: #828282;
$color-text-btn: #464d65;
$color-text02: #868c98;
$color-bg01: #f7f9f8;

// font weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;

// font-famlily
$font-primary: "Josefin Sans",sans-serif;
$font-secondary: "Poppins",sans-serif;
