// ******gallery single
.gallery-single {
  // background-image: url('../../images/blog1.png');
  &--full-height {
    height: 73rem;
  }
  &--half-height {
    height: 36.5rem;
  }
  &__inner {
    position: relative;
    overflow: hidden;
    min-height: 300px;
  }
  .g-animation {
    position: absolute;
    top: 70%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .7s;
    transform-origin: 0 0;
     transition-timing-function: cubic-bezier(0.5, 1.6, 0.4,0.7);
  }
  &:hover .g-animation {
    top: 50%;
    transform: translateY(-50%);
    transition: .7s;
    visibility: visible;
    opacity: 1;
  }
  &:hover::before {
    @include overlay;
  }
  &__content {
    .price {
      font-size: 15px;
      color: $color-secondary;
      display: inline-block;
      font-weight: $font-medium;
      margin-bottom: 7px;
    }
    .g-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $color-light;
      margin-bottom: 1.2rem;
      letter-spacing: 2px;
    }
    .g-desc {
      font-size: 13px;
      color: $color-light;
      margin-bottom: 4rem;
    }
    @media (min-width: 768px) {
      .price {
        font-size: 30px;
      }
      .g-title {
        font-size: 50px;
      }
    }
  }
}


//  ************** gallery options
.gallery__options {
  @media (min-width: 768px) {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
  }
  > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .option__item {
    list-style: none;
    font-size: 16px;
    padding:.5rem 2.2rem;
    margin: 1.3rem 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    @media (min-width: 768px) {
      margin: 0 2.7rem;
    }
  }
  .option__item.active {
    background-color: $color-secondary;
    color: $color-light;
  }
  .option__item.active:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid $color-secondary;
  }
}

