#scrollTop {
  color: $color-light;
  border-radius: 50%;
  background-color: $color-secondary;
  width: 30px;
  text-align: center;
  z-index: 5;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  i {
    line-height: 30px;
    font-size: 13px;
  }
  @media (min-width: 768px) {
    width: 50px;
    i {
      font-size: 18px;
      line-height: 50px;
    }
  }
}

#scrollTop:hover {
  cursor: pointer;
  background-color: #333;
}
#scrollTop:active {
  background-color: #555;
}
#scrollTop.hide {
  opacity: 0;
  visibility: hidden;
}
#scrollTop.show {
  opacity: 1;
  visibility: visible;
}
#scrollTop.fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
